

        <p>zjkehrjkzehrjkze</p>


<div class="container row" style="margin-right:auto;margin-left:auto;">

    <div class="col-6 list-group">

      <p class="list-group-item active">Liste des Emails</p>

    </div>

    <div class="col-6 list-group">

      <p class="list-group-item active">Email selectionné</p>

    </div>

</div>




<div class="container row" style="margin-right:auto;margin-left:auto;" id="email_object">

  <% @email.each do |t| %>

    <div class="col-6 list-group" >

        <div class="delete"><li class="list-group-item" id="email-<%= t.id%>">Object : <a href="<%= email_path(t)%>" id="lien" data-remote="true" ><%= t.object %></a></li></div>

    </div>

     <div class="col-6 list-group" style=" background-color:#EBF7FF;" id="email_body">

      <!-- <li class="list-group-item" >  </li> -->

    </div>
  <%end%>

</div>

<br><br>

<center>
  <%= link_to "Recevoir un Email", email_index_path,  method: :post, remote: true, class:"btn btn-outline-primary" %>
</center>
